.calculator{
  padding: 20px;
  border: 1px solid #ccc;
  font-family: Arial;
}
.calculator__title{}
.calculator__currency{
  margin: 20px 20px 20px 0px;
  padding: 10px;
  border: 1px solid #808080;
  background: #999999;
  border-radius: 3px;
  font-size: 20px;
}
.calculator__currency .calculator_round{
  float: right;
  cursor: pointer;
  font-size: 13px;
  margin: 10px 0px 0px 0px;
}
.calculator__currency span{
  padding-right: 20px;
}
.calculator__currency strong{
  font-size: 30px;
}
.error{
  color: red;
  font-size: 20px;
  font-family: Arial;
  background: yellow;
  padding: 10px;
}
.help{
  text-align: right;
  font-size: 12px;
  opacity: 0.5;
}

.form{
  margin: 20px 0px;
  opacity: 0.5;
}
.form .form__item{
  padding: 0px 0px 10px 0px;
}
.form .form__item input{
  vertical-align: -1px;
}
.form .form__item label{
  cursor: pointer;
}

.period_btn{
  display: inline-block;
  background: #cccccc;
  padding: 10px 20px;
  font-size: 20px;
  margin: 0px 15px;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background: #999999;
  }

  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.period_txt{
  display: inline-block;
  font-size: 30px;
  width: 50px;
  text-align: center;
  vertical-align: -5px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
