<div class="calculator" *ngIf="currencyItem; else errorTpl">
  <h2 class="calculator__title">Курсы валют ЦБ РФ на {{dateString}}</h2>
  <div class="calculator__currency">
    <span>&euro;</span><strong>{{ inputDataValue }}</strong>
  </div>
  <div class="calculator__currency">
<!--    <span class="calculator_round" (click)="RoundHandler()">{{ roundedText }}</span>-->
    <span>&#8381;</span><strong>{{ amountResultValue }}</strong>
  </div>
</div>



<form class="form">
  <div class="form__item">
    <span class="period_btn" (click)="slower()">-</span>
    <span class="period_txt">{{period}}</span>
    <span class="period_btn" (click)="faster()">+</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="period_btn" (click)="stop()"> |&nbsp;| </span>
    <span class="period_btn" (click)="start()">&rsaquo;</span>


  </div>
  <div class="form__item">
    <input type="radio" name="error_api" value="error_json" id="json_api" (change)="setAPIError($event)"/>
    <label for="json_api">Отправлять запросы на несуществующий JSON API</label>
  </div>
  <div class="form__item">
    <input type="radio" name="error_api" value="error_xml" id="xml_api" (change)="setAPIError($event)"/>
    <label for="xml_api">Отправлять запросы на несуществующий XML API</label>
  </div>
  <div class="form__item">
    <input type="radio" name="error_api" value="correct_all" id="correct_all" (change)="setAPIError($event)"/>
    <label for="correct_all">Все подключения корректны</label>
  </div>
</form>


<p class="help">Формат данных: {{helpTxt}}</p>


<ng-template #errorTpl>
  <div class="error">
    <span>{{errorMsg}}</span>
  </div>
</ng-template>
