<div class="calculator" *ngIf="currencyItem; else errorTpl">
  <h2 class="calculator__title">Курсы валют ЦБ РФ на {{dateString}}</h2>
  <div class="calculator__currency">
    <span>&euro;</span><strong>{{ inputDataValue }}</strong>
  </div>
  <div class="calculator__currency">
    <span class="calculator_round" (click)="RoundHandler()">{{ roundedText }}</span>
    <span>&#8381;</span><strong>{{ amountResultValue }}</strong>
  </div>
</div>
<p class="help">{{helpTxt}}</p>


<ng-template #errorTpl>
  <div class="error">
    <span>{{errorMsg}}</span>
  </div>
</ng-template>
